In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-v0_8')
sns.set_palette("husl")

data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'name': ['Daisy', 'Bella', 'Noodle', 'Charlie', 'Max', 'Molly', 'Draco', 'Kenzo', 'Milo', 'Cooper'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Task 1: Creating a DataFrame 

Using the following data dictionary `data` and list of row indices `labels` describing patients of a veterinary clinic, create a DataFrame named `animals`. Then, display a summary of basic information about this DataFrame and its structure.

```
data = {
'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog','dog'],
'name': ['Daisy', 'Bella', 'Noodle', 'Charlie', 'Max', 'Molly', 'Draco', 'Kenzo', 'Milo', 'Cooper'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

In [2]:
animals = pd.DataFrame(data, index=labels)

animals.info()

print(animals)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   name      10 non-null     object
 2   age       8 non-null      float64
 3   visits    10 non-null     int64
 4   priority  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 480.0+ bytes
  animal     name  age  visits priority
a    cat    Daisy  2.5       1      yes
b    cat    Bella  3.0       3      yes
c  snake   Noodle  0.5       2       no
d    dog  Charlie  NaN       3      yes
e    dog      Max  5.0       2       no
f    cat    Molly  2.0       3       no
g  snake    Draco  4.5       1       no
h    cat    Kenzo  NaN       1      yes
i    dog     Milo  7.0       2       no
j    dog   Cooper  3.0       1       no

# Task 2: Selecting Data from a DataFrame

Using the `animals` DataFrame from the previous task, select and then display:

a) the first 3 rows,  
b) the `animal` and `age` columns,  
c) data from rows 3, 4, and 8, contained in the `visits` and `priority` columns,  
d) rows where the number of visits is greater than 2,  
e) rows where the animal is a cat and is less than 4 years old,  
f) rows where the animal's age is in the range from 2 to 4 years (inclusive).

In [3]:
print(f'a) The first 3 rows: \n{animals.head(3)}')

print(f'\nb) The "animal" and "age" columns: \n{animals[["animal", "age"]]}')

print("\nc) Data from rows 3, 4, and 8, contained in the 'visits' and 'priority' columns:")
print(animals.loc[['d', 'e', 'i'], ['visits', 'priority']])

print("\nd) Rows where the number of visits is greater than 2:")
print(animals[animals['visits'] > 2])

print("\ne) Rows where the animal is a cat and is less than 4 years old:")
print(animals[(animals['animal'] == 'cat') & (animals['age'] < 4)])

print("\nf) Rows where the animal's age is in the range from 2 to 4 years (inclusive):")
print(animals[animals['age'].between(2, 4)])

a) The first 3 rows:
  animal    name  age  visits priority
a    cat   Daisy  2.5       1      yes
b    cat   Bella  3.0       3      yes
c  snake  Noodle  0.5       2       no

b) The "animal" and "age" columns:
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

c) Data from rows 3, 4, and 8, contained in the 'visits' and 'priority' columns:
   visits priority
d       3      yes
e       2       no
i       2       no

d) Rows where the number of visits is greater than 2:
  animal     name  age  visits priority
b    cat    Bella  3.0       3      yes
d    dog  Charlie  NaN       3      yes
f    cat    Molly  2.0       3       no

e) Rows where the animal is a cat and is less than 4 years old:
  animal   name  age  visits priority
a    cat  Daisy  2.5       1      yes
b    cat  Bella  3.0       3      yes
f    cat  Molly  2.0       3       no

f) Rows where the animal's age is in the range from 2 to 4 years (inclusive):
  animal    name  age  visits priority
a    cat   Daisy  2.5       1      yes
b    cat   Bella  3.0       3      yes
f    cat   Molly  2.0       3       no
j    dog  Cooper  3.0       1       no

# Task 3: Operations on Rows and Columns

Using the `animals` DataFrame from the previous task, in the following order:

a) add a row with index `k`, containing information about a new animal â€“ a dog named Buddy, 5.5 years old, who visited the clinic 2 times in normal mode,  
b) add a column `price`, containing the value 10 for regular patients and 20 for priority patients,  
c) add a column `total`, containing the total cost of all visits,  
d) remove the `priority` column,  
e) rename the `animal` column to `species`,  
f) display the resulting DataFrame.

In [4]:
# a) Adding row 'k'
animals.loc['k'] = {'animal': 'dog', 'name': 'Buddy', 'age': 5.5, 'visits': 2, 'priority': 'no'}

# b) Adding the 'price' column
price_values = [20 if i == 'yes' else 10 for i in animals['priority']]
animals['price'] = price_values

# c) Adding the 'total' column
animals['total'] = animals['visits'] * animals['price']

# d) Removing the 'priority' column
animals.drop('priority', axis=1, inplace=True)

# e) Renaming the 'animal' column to 'species'
animals.rename(columns={'animal': 'species'}, inplace=True)

# Displaying the resulting DataFrame
print(animals)

  species     name  age  visits  price  total
a     cat    Daisy  2.5       1     20     20
b     cat    Bella  3.0       3     20     60
c   snake   Noodle  0.5       2     10     20
d     dog  Charlie  NaN       3     20     60
e     dog      Max  5.0       2     10     20
f     cat    Molly  2.0       3     10     30
g   snake    Draco  4.5       1     10     10
h     cat    Kenzo  NaN       1     20     20
i     dog     Milo  7.0       2     10     20
j     dog   Cooper  3.0       1     10     10
k     dog    Buddy  5.5       2     10     20

# Task 4: Indexing DataFrames

Using the `animals` DataFrame from the previous task, perform the following steps in the given order, displaying the result after each step:

a) reset the DataFrame to use the default integer index, ensuring no new column is added with previous index values,  
b) create an index from the `name` column,  
c) remove the row containing information about the dog named Max,  
d) reset the DataFrame to use the default integer index, ensuring the existing index becomes a column in the DataFrame.

In [5]:
# a) Resetting the DataFrame to the default integer index
animals.reset_index(drop=True, inplace=True)

# b) Creating an index from the 'name' column
animals.set_index('name', inplace=True)

# c) Removing the row where the dog is named Max
animals.drop('Max', inplace=True)

# d) Resetting to the default integer index, converting the existing index into a column
animals.reset_index(inplace=True)

print(animals)

      name species  age  visits  price  total
0    Daisy     cat  2.5       1     20     20
1    Bella     cat  3.0       3     20     60
2   Noodle   snake  0.5       2     10     20
3  Charlie     dog  NaN       3     20     60
4    Molly     cat  2.0       3     10     30
5    Draco   snake  4.5       1     10     10
6    Kenzo     cat  NaN       1     20     20
7     Milo     dog  7.0       2     10     20
8   Cooper     dog  3.0       1     10     10
9    Buddy     dog  5.5       2     10     20